alembic==1.0.11
aniso8601==8.0.0
APScheduler==3.6.3
asn1crypto==0.24.0
astroid==2.4.1
attrs==19.3.0
autopep8==1.4
bcrypt==3.1.7
blinker==1.4
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.0
cryptography==3.4.7
dnspython==2.1.0
dodgy==0.2.1
email-validator==1.1.2
flake8==3.8.4
flake8-polyfill==1.0.2
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.10.1
Flask-CKEditor==0.4.3
Flask-Cors==3.0.10
Flask-HTTPAuth==3.3.0
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-Moment==0.9.0
flask-msearch==0.2.4
flask-paginate==0.8.0
Flask-RESTful==0.3.7
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-Sitemap==0.3.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
importlib-metadata==0.23
isort==4.3.4
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.3
jsonschema==3.1.1
lazy-object-proxy==1.4.3
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
pep8-naming==0.10.0
Pillow==8.2.0
prospector==1.3.1
psutil==5.6.7
pycodestyle==2.6.0
pycparser==2.19
pydocstyle==5.0.2
pyflakes==2.2.0
pylama==7.7.1
pylint==2.5.3
pylint-celery==0.3
pylint-django==2.1.0
pylint-flask==0.6
pylint-plugin-utils==0.6
PyMySQL==0.9.3
pyrsistent==0.15.5
python-dateutil==2.8.0
python-decouple==3.4
python-editor==1.0.4
pytz==2019.3
PyYAML==5.4.1
redis==3.5.3
requests==2.22.0
requirements-detector==0.7
setoptconf==0.2.0
six==1.12.0
snowballstemmer==2.0.0
SQLAlchemy==1.3.23
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.0.0
urllib3==1.26.6
Werkzeug==0.15.5
Whoosh==2.7.4
wrapt==1.12.1
WTForms==2.2.1
zipp==0.6.0
