.article-content {
  max-width: 850px;
  min-height: 425px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  margin-top: 40px;
}
.article-head {
  border-bottom: 2px solid rgba(182, 182, 182, 0.35);
}
.article-head h1 {
  font-size: 27px;
  font-weight: 700;
}
.article-head div span {
  color: rgb(163, 163, 163);
  margin-bottom: 15px;
}
.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ivu-modal {
  top: 0;
}
.ivu-list-item-meta-description {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
