{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{url_for('.static',filename='css/archive.css')}}">
{% endblock css %}

{% block title %}
{{info.blogConfig.blogName}} - 归档
{% endblock title %}

{% block content %}
<div class="htmleaf-container">

    <div class="container">

        <div id="timeline">
            {% for item in contentData %}
            <div class="timeline-item">
                <div class="timeline-icon">
                </div>
                <div class="timeline-content {% if item.right %} right {% endif %} ">
                    <h2>{{item.time}}</h2>
                    <div>
                      {% for i in item.articles %}
                        <a style="display: block;margin-top: 5px;margin-bottom: 5px;"  class="btn" href="{{url_for('article.post',url=i.url_en)}}">{{i.title}}</a>
                      {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}

<script src="{{url_for('.static',filename='js/archive.js')}}"></script>

{% endblock js %}