{% extends 'base.html' %}
{% block title %}
{{getInfo().blogConfig.blogName}} - {{content.title}}
{% endblock title %}



{% block css %}
<meta name="keywords" content="{% for tag in content.tags %}{{tag.name}},{% endfor %}">
<meta name="description" content="{{content.slug}}">
<link rel="stylesheet" href="{{url_for('.static',filename='css/article.css')}}">
<link rel="stylesheet" href="{{url_for('.static',filename='css/GrayMac.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static',filename='css/editormd.min.css')}}">

  {% endblock css %}


{% block content %}

<div class="article-content">

  <div class="mdui-card">


    <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
    <div class="mdui-card-media">
      <img class="mdui-img-fluid blog-img lazy" style="width: 100%;height: 259px;"
        src="https://cdn.jsdelivr.net/npm/typecho_joe_theme@4.3.5/assets/img/lazyload.jpg"
        data-original="{% if content.image_url %}{{content.image_url}}{% else %}{{getInfo().blogConfig.IMAGE}}{% endif %}" />
      <div class="mdui-card-media-covered">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title">{{content.title}}</div>
        </div>
      </div>
      <!-- 卡片中可以包含一个或多个菜单按钮 -->
    </div>
    <!-- 卡片头部，包含头像、标题、副标题 -->
    <div class="mdui-card-header">
      <img class="mdui-card-header-avatar" src="{{getInfo().blogConfig.AVATAR}}{{getInfo().other.email}}" />
      <div class="mdui-card-header-title">{{user.username}}</div>
      <div class="mdui-card-header-subtitle">发表时间：{{moment(content.created).format('YYYY-M-D  H:mm') }}</div>
      <div class="mdui-card-menu">
        <button id="share" class="mdui-btn mdui-btn-icon "><i class="mdui-icon material-icons ">share</i></button>
      </div>
    </div>
    <div class="mdui-divider"></div>
    <!-- 卡片的内容 -->
    <div class="mdui-card-content">

      <div class="editormd-preview-container" id="editormd-preview-container" style="width: auto; padding: 0px;">
        {{content.template|safe()}}
      </div>
    </div>
    <div class="mdui-divider"></div>

    <div style="margin: 6px;">
      {% for tag in content.tags %}
      <div class="mdui-chip ">
        <a style="color: #0a69b6;" href="{{url_for('article.tag',url=tag.name)}}"><span
            class="mdui-chip-title">{{tag.name}}</span></a>
      </div>
      {% endfor %}
    </div>

  </div>

  <div style="margin-top: 20px;">
    <a class="mdui-btn mdui-btn-raised" {% if nextPage %} href="{{url_for('article.post',url=nextPage)}}" {% else %}
      disabled {% endif%}><i class="mdui-icon material-icons">keyboard_arrow_left</i>newer</a>
    <a class="mdui-btn mdui-float-right mdui-btn-raised" {% if prevPage %}
      href="{{url_for('article.post',url=prevPage)}}" {% else %} disabled {% endif%}>older<i
        class="mdui-icon material-icons">keyboard_arrow_right</i></a>
  </div>


  <div class="comment-container mdui-card" style="padding:10px;margin-top: 20px;">
    <p id="review-btn" style="font-weight: 600;cursor: pointer;"><i class="fas fa-comments"></i> 评论</p>
    <div id="valine_container" class="valine_thread v" data-class="v">
      <div class="vpanel">
        <div class="vwrap">
          <div class="vheader item3 mdui-container-fluid">
            <input class="mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-12 vinput" name="nick" placeholder="昵称"
              class="vnick vinput" type="text">
            <input class="mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-12 vinput" name="mail" placeholder="邮箱"
              class="vmail vinput" type="email">
            <input class="mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-12 vinput" name="link"
              placeholder="网址(https://)" class="vlink vinput" type="text">
            <input style="display: none;" name="parent" type="text">
            <input style="display: none;" name="articleId" value="{{content.id}}" type="text">
            <input style="display: none;" name="parent_uuid" type="text">
            <input style="display: none;" name="parent_name" type="text">
          </div>
          <div class="vedit mdui-col-lg-12 mdui-col-md-12 mdui-col-sm-12 mdui-col-xs-12">
            <textarea id="veditor" class="veditor vinput" placeholder="想对我说些什么呢"
              style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 123px;width: 100%;padding-left: 0px;padding-right: 0px;"></textarea>
            <div class="vrow">
              <div class="vcol vcol-60 status-bar"></div>

            </div>
          </div>
          <div class="vrow mdui-container-fluid" style="margin-top: 7px;">
            <div class="mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-6" style="height:50px">
              <img id="captcha" style="float: left;height: 36px;margin-top: 5px;cursor: pointer;" src="/api/v1/captcha/"
                alt="验证图片" srcset="">
            </div>
            <input class="mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-6 vinput" name="captcha"
              placeholder="验证码" style="margin-top: 5px;" class="vnick vinput" type="text">
            <div class="vcol vcol-70 text-right mdui-col-lg-4 mdui-col-md-4 mdui-col-sm-4 mdui-col-xs-12"><button
                type="button" title="Cmd|Ctrl+Enter" style="margin-top: 5px;"
                class="vsubmit vbtn mdui-float-right mdui-btn-block">提交</button></div>
          </div>
          <div style="display:none;" class="vmark"></div>
        </div>
      </div>
      <div class="vcount" style="display: block;"><span class="vnum">{{comment_mun}}</span> 评论</div>
      <div class="vload-top text-center" style="display:none;"><i class="vspinner" style="width:30px;height:30px;"></i>
      </div>
      <div class="vcards">
        {% for comment in comment_data %}
        <div class="vcard" ">
          <img class=" vimg" src="{{getInfo().blogConfig.AVATAR}}{{comment.hash_email}}">
          <div class="vh">
            <div class="vhead">
              <a class="vnick" id="{{comment.uuid}}" rel="nofollow" href="{{comment.link}}"
                target="_blank">{{comment.nick}}
              </a>
              <span class="vsys">{{comment.agent}}</span>
            </div>
            <div class="vmeta">
              <span class="vtime">{{moment(comment.created).format('YYYY-M-D  H:mm')}}</span>
              <span class="vat">回复</span>
            </div>
            <div class="vcontent">
              <p>
                {{comment.text}}
              </p>
            </div>
            <div class="vreply-wrapper"></div>
            <div class="vquote">
              {% for i in comment.c_comment_data %}
              <div class="vcard" id="{{i.uuid}}"><img class="vimg"
                  src="{{getInfo().blogConfig.AVATAR}}{{i.hash_email}}">
                <div class="vh">
                  <div class="vhead"><a class="vnick" rel="nofollow" href="{{comment.link}}"
                      target="_blank">{{i.nick}}</a>
                    <span class="vsys">{{i.agent}}</span>
                  </div>
                  <div class="vmeta">
                    <span class="vtime">{{moment(i.created).format('YYYY-M-D  H:mm')}}</span>
                    <span class="vat">回复</span>
                  </div>
                  <div class="vcontent">
                    <p><a href="#{{i.parent_uuid}}">@{{i.parent_name}}</a> ,
                      {{i.text}}
                    </p>
                  </div>
                  <div class="vreply-wrapper"></div>
                  <div class="vquote"></div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="vload-bottom text-center" style="display: none;"><i class="vspinner"
          style="width:30px;height:30px;"></i></div>
      <div class="vempty" style="display:none;"></div>
      <div class="vpower txt-right">仿 <a href="https://valine.js.org" target="_blank">Valine</a><br> </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/prettify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/raphael@2.3.0/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/underscore.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/sequence-diagram.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/flowchart.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/lib/jquery.flowchart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/editor.md@1.5.0/editormd.min.js"></script>
<script>
  $(document).ready(() => {
    $('input[name="nick"]').val(localStorage.getItem('nick'))
    $('input[name="mail"]').val(localStorage.getItem('mail'))
    $('input[name="link"]').val(localStorage.getItem('link'))
    var Editor = editormd.markdownToHTML("editormd-preview-container", {
      tocm: true, // Using [TOCM]
      tex: true, // 开启科学公式TeX语言支持，默认关闭
      flowChart: true, // 开启流程图支持，默认关闭
      sequenceDiagram: true,
      previewCodeHighlight: false,
      htmlDecode: "style,script,iframe",
      taskList: true,
    })

  })
</script>
<script>
  $('.vat').click(function () {
    let comment = ($(this).parent().parent().children('.vreply-wrapper')[0]);
    $(comment).append($('.vwrap')[0])
    let nick = ($(this).parent().parent().children('.vhead').children('.vnick').html());
    let uuid = $(this).parent().parent().children('.vhead').children('.vnick').attr('id')
    console.log(uuid);
    if (!uuid) {
      uuid = $(this).parent().parent().parent().parent().parent().children('.vhead').children('.vnick').attr('id')
    }
    $('#veditor').attr('placeholder', '@ ' + nick);
    $('input[name="parent"]').val(null)
    $('input[name="captcha"]').val(null)
    $('#veditor').val(null)
    $('input[name="parent_uuid"]').val(uuid);
    console.log(uuid);
    $('input[name="parent_name"]').val(nick);
  })


  $('.vsubmit').click(function () {
    console.log('asdsa');
    let type = 'review'
    let parentId = $('input[name="parent"]').val()
    let nick = $('input[name="nick"]').val()
    let mail = $('input[name="mail"]').val()
    let link = $('input[name="link"]').val()
    let captcha = $('input[name="captcha"]').val()
    let text = $('#veditor').val()
    let parent_uuid = $('input[name="parent_uuid"]').val()
    let parent_name = $('input[name="parent_name"]').val()
    let articleId = $('input[name="articleId"]').val()
    if (!nick) {
      mdui.snackbar({
        message: '昵称为空',
        position: 'right-top'
      });
      return false
    }
    if (!mail) {
      mdui.snackbar({
        message: '邮箱为空',
        position: 'right-top'
      });
      return false
    }
    if (!text) {
      mdui.snackbar({
        message: '回复内容为空',
        position: 'right-top'
      });
      return false
    }
    if (!captcha) {
      mdui.snackbar({
        message: '验证码为空',
        position: 'right-top'
      });
      return false
    }
    let data = {
      nick,
      mail,
      link,
      text,
      captcha,
      type,
      parentId,
      articleId,
      parent_name,
      parent_uuid
    }

    $.post("/comment/", data, function (data, status) {
      if (data.status === 'success') {
        localStorage.setItem('nick', nick);
        localStorage.setItem('mail', mail);
        localStorage.setItem('link', link);
        location.reload();
      } else {
        mdui.snackbar({
          message: data.message,
          position: 'right-top'
        })
      }
    });
  })

  $('#captcha').click(() => {
    console.log('sdsad');
    $('#captcha').attr("src", '/api/v1/captcha/?' + new Date().getTime());
  })

  $('#review-btn').click(() => {
    $('.vpanel')[0].append($('.vwrap')[0])
    $('#veditor').attr('placeholder', '想对我说些什么呢');
    $('input[name="parent"]').val(null)
    $('input[name="captcha"]').val(null)
    $('#veditor').val(null)
    $('input[name="parent_uuid"]').val(null);
    $('input[name="parent_name"]').val(null);
  })
</script>
<script src="{{url_for('.static',filename='js/prism.min.js')}}"></script>
<script>Prism.highlightAll()</script>
{% endblock js %}