{% extends 'base.html' %}
{% block title %}
{{info.blogConfig.blogName}} - 分类：{{category}}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{url_for('.static',filename='css/home.css')}}">

{% endblock css %}



{% block content %}

{% for content in contents %}



<div class="mdui-card blog-container">
  <div class="mdui-card-media">
    <a href="{{url_for('article.post',url=content.id)}}">
      <img class="mdui-img-fluid blog-img lazy"
      src="https://cdn.jsdelivr.net/npm/typecho_joe_theme@4.3.5/assets/img/lazyload.jpg"
      data-original="https://pro.gynl.xyz/2020/02/13/9708696674528.png" />
    <div class="mdui-card-media-covered">
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">{{content.title}}</div>
        <div class="mdui-card-primary-subtitle">{{content.slug}}</div>
      </div>
    </div>
    </a>
  </div>
  <div class="mdui-card-actions">
    <button class="mdui-btn mdui-ripple" disabled><i class="mdui-icon material-icons">access_time</i>{{content.created}}</button>
    <a class=" mdui-ripple a-category" ">{{content.post_type}}</a>
        <a href="{{url_for('article.post',url=content.id)}}" class=" mdui-btn mdui-ripple mdui-ripple read-more-btn ">阅读更多</a>
  </div>
    </div>
  {% endfor %}

  

{% endblock content %}


{% block pagination %}
{% include '/include/pagination.html' ignore missing %}
{% endblock pagination %}


{% block js %}

{% endblock js %}