{% extends 'base.html' %}
{% block title %}
{{getInfo().blogConfig.blogName}} - 首页
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{url_for('.static',filename='css/home.css')}}">

{% endblock css %}


{% block search %} 
<li class="mdui-list-item mdui-ripple" >
  <i class="mdui-list-item-icon mdui-icon material-icons">search</i>
  <input id="search" class="mdui-textfield-input" type="text" placeholder="    搜索" />
</li>
{% endblock search %}

{% block github %}
{% if page==1%}
<div class="mdui-card"  style="margin-top:45px;background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);">
  <div style="text-align: center;">
    <i style="margin-top: 25px;margin-bottom: 20px;" class="fa fa-github  fa-5x"
  aria-hidden="true"></i>
  </div>
  <div class=""  id="github_container"></div>
</div>
<script src="{{url_for('.static',filename='js/githubcalendar.js')}}"></script>
{% endif %}
{% endblock github %}

{% block content %}
{% for content in contents %}



<div class="mdui-card blog-container">
  <div class="mdui-card-media">
    <a href="{{url_for('article.post',url=content.url_en)}}">
      <img class="mdui-img-fluid blog-img lazy"
      src="https://cdn.jsdelivr.net/npm/typecho_joe_theme@4.3.5/assets/img/lazyload.jpg"
      data-original="{% if content.image_url %}{{content.image_url}}{% else %}{{getInfo().blogConfig.IMAGE}}{% endif %}"/>
    <div class="mdui-card-media-covered">
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-title" style="text-shadow: 1px 1px 8px #444;font-size: 34px;line-height: 40px;">
          {{content.title}}
        </div>
      </div>
    </div>
    </a>
  </div>
  <div class="mdui-card-content" style="color: rgb(143, 143, 143);">{{content.slug}}
    <a style="text-decoration: none;color: #0080FF;margin-left: 10px;" href="{{url_for('article.post',url=content.url_en)}}">阅读更多</a>
  </div>
  <div class="mdui-divider"></div>
  <div class="mdui-card-actions">
    <button class="mdui-btn mdui-ripple" style="color: rgb(143, 143, 143);" disabled>{{moment(content.created).format('YYYY-M-D  H:mm')}}</button>
    <a style="text-decoration: none;" href="{{url_for('article.category',category=content.category)}}" class="mdui-btn mdui-ripple mdui-ripple read-more-btn" ">{{content.category}}</a>
        
  </div>
    </div>
  {% endfor %}

  

{% endblock content %}


{% block pagination %}
{% include '/include/pagination.html' ignore missing %}
{% endblock pagination %}


{% block js %}
<script>
  $('#search').bind('keypress', function (event) {
    if (event.keyCode == "13") {
      event.preventDefault();
      window.location.href = "/search/" + $('#search').val() +'/'
    }
  });
</script>
{% endblock js %}