{% extends 'base.html' %}
{% block title %}
{{info.blogConfig.blogName}} - 登录
{% endblock title %}



{% block css %}

{% endblock css %}


{% block content %}
<div class="mdui-center mdui-shadow-3" style=" margin-top: 80px;
max-width: 500px;
background-color: white;
padding: 10px;">
    <div class="container" style="width:100%">

        <form class="form-horizontal" method="POST">
           
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">邮箱地址</label>
                <input name="email" type="email"  class="mdui-textfield-input" required/>
              </div>
              <div class="mdui-textfield">
                <label class="mdui-textfield-label">密码</label>
                <input name="password" type="password"  class="mdui-textfield-input" required/>
              </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember" name="remember"> 记住登录
                    </label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="mdui-btn mdui-btn-block mdui-btn-raised">登录</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}



{% block js %}

{% endblock js %}