{% extends 'layout.html' %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
{% endblock css %}

{% block title %}
博客设置
{% endblock title %}

{% block content %}
<div id="app">
  <v-app>
    <v-main>
      <v-card class="mx-auto" max-width="1000">
        <v-img class="white--text align-end" height="200px" src="https://cdn.vuetifyjs.com/images/cards/docks.jpg">
          <v-card-title>修改博客配置</v-card-title>
        </v-img>

        <v-card-subtitle class="pb-0"></v-card-subtitle>

        <v-card-text class="text--primary">
          <v-text-field clearable hint='博客的名字' v-model='blogName' placeholder="博客名" :rules="rules"></v-text-field>
          <v-text-field clearable hint='域名，生成站点地图' v-model='domain' placeholder="域名" :rules="rules"></v-text-field>
          <v-text-field clearable hint='显示的文章数目' v-model.number='articleNum' placeholder="显示文章数" :rules="rules">
          </v-text-field>
          <v-text-field clearable hint='用户邮箱' v-model='email' placeholder="邮箱"></v-text-field>
          <v-text-field clearable hint='GitHub' v-model='github' placeholder="Gitgub"></v-text-field>
          <v-text-field clearable hint='avatar头像的代理接口' v-model='avatar' placeholder="头像代理接口"></v-text-field>
          <v-text-field clearable hint='默认随机图片接口' v-model='image' placeholder="随机图片接口"></v-text-field>


          <v-btn block color="blue lighten-1" @click='putConfig' text>
            提交修改
          </v-btn>
          </v-card-actions>

      </v-card>
    </v-main>
  </v-app>
</div>

{% endblock content %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<script>
  new Vue({
    delimiters: ['{[', ']}'],
    el: '#app',
    vuetify: new Vuetify(),
    data: () => ({
      csrftoken: "{{csrf_token()}}",
      rules: [
        value => !!value || '必填！',
      ],
      blogName: '',
      domain: '',
      articleNum: '',
      email: '',
      github: '',
      avatar: '',
      image: '',
      data: []
    }),

    computed: {

    },
    mounted() {
      this.getConfig()
    },
    watch: {

    },

    created() {

    },

    methods: {
      getConfig() {
        //获取博客配置
        axios.post('{{url_for("admin.blog_set")}}', {}, {
          headers: {
            'X-CSRFToken': this.csrftoken,
          },
        }).then(res => {
          console.log(res);
          this.blogName = res.data.blogConfig.blogName
          this.articleNum = res.data.blogConfig.articleItem
          this.avatar = res.data.blogConfig.AVATAR
          this.image = res.data.blogConfig.IMAGE
          this.domain = res.data.blogConfig.domainName
          this.email = res.data.userInfo.EMAIL
          this.github = res.data.userInfo.GITHUB
          this.data = res.data
        });
      },
      putConfig() {
        //提交博客配置
        this.data.blogConfig.blogName = this.blogName
        this.data.blogConfig.articleItem = this.articleNum
        this.data.blogConfig.AVATAR = this.avatar
        this.data.blogConfig.IMAGE = this.image
        this.data.blogConfig.domainName = this.domain
        this.data.userInfo.EMAIL = this.email
        this.data.userInfo.GITHUB = this.github
        axios.put('{{url_for("admin.blog_set")}}', {
          data: this.data
        }, {
          headers: {
            'X-CSRFToken': this.csrftoken,
          },
        }).then(res => {
          this.blogName = res.data.blogConfig.blogName
          this.articleNum = res.data.blogConfig.articleItem
          this.avatar = res.data.blogConfig.AVATAR
          this.image = res.data.blogConfig.IMAGE
          this.domain = res.data.blogConfig.domainName
          this.email = res.data.userInfo.EMAIL
          this.github = res.data.userInfo.GITHUB
          this.data = res.data
        })
      }
    }
  })
</script>
{% endblock js %}