{% extends 'layout.html' %}
{% block css %}

{% endblock css %}

{% block title %}
博客文章
{% endblock title %}

{% block content %}

<v-card>
  <v-data-table :headers="headers" :items="artcleList" item-key="id" class="elevation-1">
    <template v-slot:item.handle="{ item }">
      <v-icon small class="mr-2" @click='editArticle(item)'>
        mdi-pencil
      </v-icon>
      <v-icon small @click='deleteArticle(item)'>
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
  <v-snackbar top right :color='snackbarColor' v-model="snackbar" :timeout="timeout">
    {[snackbarText ]}
  </v-snackbar>
</v-card>


{% endblock content %}

{% block js %}


<script>
  new Vue({
    delimiters: ['{[', ']}'],
    el: '#app',
    vuetify: new Vuetify(),
    data: () => ({
      csrftoken: "{{csrf_token()}}",
      drawer: false,
      artcleList: [],
      deleteList: [],
      headers: [{
          text: 'ID',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        {
          text: '标题',
          value: 'title'
        },
        {
          text: '内容概述',
          value: 'slug'
        },
        {
          text: '内容',
          value: 'text'
        },
        {
          text: '英文地址',
          value: 'url_en'
        },
        {
          text: '修改时间',
          value: 'modified'
        }, {
          text: '操作',
          value: 'handle',
          sortable: false
        }
      ],
      snackbar: false,
      snackbarText: '',
      timeout: 1700,
      snackbarColor: ''
    }),

    computed: {

    },
    mounted() {

    },
    watch: {

    },

    created() {
      axios
        .post("{{url_for('admin.blog_list')}}", {}, {
          headers: {
            'X-CSRFToken': this.csrftoken,
          }
        })
        .then(res => {
          this.artcleList = res.data
        })
        .catch(function (error) { // 请求失败处理
          console.log(error);
        });
    },

    methods: {
      editArticle(item) {
        console.log(item);
        window.location.href = "/admin/blog-modify/" + item.id

      },
      deleteArticle(item) {
        axios
          .delete("{{url_for('admin.blog_list')}}", {
            data: {
              "article": [item]
            },
            headers: {
              'X-CSRFToken': this.csrftoken,
            }

          })
          .then(response => {
            if (response.data.status === "success") {
              this.artcleList = response.data.data
              this.snackbar = true
              this.snackbarColor = response.data.status
              this.snackbarText = response.data.message
            } else {
              this.snackbar = true
              this.snackbarColor = response.data.status
              this.snackbarText = response.data.message
            }
          })
          .catch(function (error) { // 请求失败处理

            this.snackbar = true
            this.snackbarColor = 'error'
            this.snackbarText = error
            console.log(error);
          });
        this.deleteList = []
      }
    }
  })
</script>
{% endblock js %}