#share {
    color: rgb(141, 141, 141);
}

.article-content {
    margin-top: 40px;
}

.mdui-card-primary-title {
    text-shadow: 1px 1px 8px #444;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

article#comments #valine_container>i {
    display: block;
    margin: 16px auto;
}

#valine_container img {
    display: inline;
}

#valine_container .vwrap {
    border-radius: 8px;
    border-style: dashed;
    border: 1px dashed rgba(68, 68, 68, 0.3);
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

#valine_container .vwrap:hover {
    border: 1px dashed #44d7b6;
}

#valine_container .vwrap .cancel-reply {
    margin-top: 0;
    margin-bottom: 0;
}

#valine_container .vwrap .vheader {

    padding: 5px 10px 0;
    background: rgb(240, 240, 240);
}

#valine_container .vwrap .vheader .vinput {
    border-radius: 0;
    border-bottom: 1px dashed transparent;
}

#valine_container .vwrap .vheader .vinput:hover {
    border-bottom: 1px dashed #44d7b6;
}

#valine_container .vwrap .vheader .vinput:focus {
    border-bottom: 1px solid #44d7b6;
}

#valine_container .vwrap .vedit .vicon {
    height: 22px;
}

#valine_container .vwrap .vemojis,
#valine_container .vwrap .vpreview {
    background: var(--color-block);
    border-radius: var(--border-codeblock);
    padding: 8px;
}

#valine_container .vwrap .vemojis::-webkit-scrollbar,
#valine_container .vwrap .vpreview::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

#valine_container .vwrap .vemojis::-webkit-scrollbar-track-piece,
#valine_container .vwrap .vpreview::-webkit-scrollbar-track-piece {
    background: transparent;
}

#valine_container .vwrap .vemojis::-webkit-scrollbar-thumb,
#valine_container .vwrap .vpreview::-webkit-scrollbar-thumb {
    background: #44d7b6;
    cursor: pointer;
    border-radius: 2px;
}

#valine_container .vwrap .vemojis::-webkit-scrollbar-thumb:hover,
#valine_container .vwrap .vpreview::-webkit-scrollbar-thumb:hover {
    background: #ff5722;
}

#valine_container .vwrap .vemojis .vemoji,
#valine_container .vwrap .vpreview .vemoji {
    max-height: 22px;
    max-width: 100px;
}

#valine_container .vwrap .vemojis i,
#valine_container .vwrap .vpreview i {
    width: auto;
    padding: 8px;
    border-radius: 4px;
    transition: box-shadow 0.2s ease-out, background 0.2s ease-out;
}

#valine_container .vwrap .vemojis i:hover,
#valine_container .vwrap .vpreview i:hover {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.05), inset -8px -8px 16px rgba(255, 255, 255, 0.4);
}

#valine_container .vwrap .vemojis i:active,
#valine_container .vwrap .vpreview i:active {
    background: #f1f1f1;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(255, 255, 255, 0.8), inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px #fff, inset -8px -8px 16px rgba(255, 255, 255, 0.4);
}

#valine_container .vwrap .vedit .vctrl span {
    padding: 0;
    margin: 10px;
}

#valine_container .vwrap .vedit span {
    fill: var(--color-p);
}

#valine_container .vwrap .vedit span.actived {
    fill: #44d7b6;
}

#valine_container .vcount {
    color: var(--color-p);
    font-size: 0.875rem;
    padding: 0;
    font-weight: inherit;
}

#valine_container .vcount .vnum {
    color: var(--color-p);
    font-size: 1.5rem;
}

#valine_container button {
    border: none;
    padding: 4px 2rem;
    border-radius: 4px;
    background: #f1f1f1;
    color: var(--color-text);
    line-height: 2;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

#valine_container button:hover {
    color: #ff5722;
    background: #ffeee8;
}

#valine_container button.vmore {
    width: 100%;
    padding: 8px 2rem;
}

#valine_container .vcards {
    margin-top: 8px;
}

#valine_container .vcards>.vcard {
    border-radius: 8px;
    border: 1px dashed rgba(68, 68, 68, 0.3);
    padding: 16px;
    margin-bottom: 16px;
}

#valine_container .vcards .vh {
    border-bottom: none;
    overflow: hidden;
}

#valine_container .vcards .vquote {
    border-left: none;
}

#valine_container .vcards .vimg {
    width: 3.125em;
    height: 3.125em;
    float: left;
    border-radius: 50%;
    margin-right: .7525em;
    border: 1px solid #f5f5f5;
    padding: .125em;
}

#valine_container .vcards .vcontent.expand:before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(246, 246, 246, 0.9));
}

#valine_container .vcards .vcontent.expand:after {
    background: rgba(246, 246, 246, 0.9);
    color: var(--color-text);
}

#valine_container .vcards .vhead span.vnick {
    color: #5e5e5e;
    cursor: default;
}

#valine_container .vcards .vhead a.vnick {
    color: #ff9800;
    font-weight: bold;
    text-decoration: none;
}

#valine_container .vcards .vhead a.vnick:hover {
    color: #ff5722;
}

#valine_container .vcards .vhead .vsys {
    margin: 2px;
    padding: 1px 8px;
    background-color: var(--color-block);
    display: none;
}

#valine_container .vcards .vmeta .vat {
    font-weight: bold;
    color: var(--color-p);
    float: none;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
    padding: 4px 8px;
    border-radius: 2px;
}

#valine_container .vcards .vmeta .vat:hover {
    color: #ff5722;
    background-color: var(--color-block);
}

#valine_container .vcards .vcontent {
    padding-top: 0;
}

#valine_container .vcards .vcontent blockquote {
    padding-top: 1em;
    padding-bottom: 1em;
    background: var(--color-block);
    border-left: 4px solid #44d7b6;
    border-radius: 4px;
    transition: all 0.28s ease;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

#valine_container .vcards .vcontent code {
    color: var(--color-p);
    font-family: Menlo, UbuntuMono, Monaco, monospace, courier, sans-serif;
}

#valine_container .vcards .vcontent pre {
    background: var(--color-codeblock);
}

#valine_container .vcards .vcontent pre code {
    border: none;
}

#valine_container .vcards .vcontent a {
    color: #2196f3;
    line-height: inherit;
    transition: all 0.28s ease;
    text-decoration: none;
    -moz-transition: all 0.28s ease;
    -webkit-transition: all 0.28s ease;
    -o-transition: all 0.28s ease;
}

#valine_container .vcards .vcontent a:hover {
    color: #ff5722;
    text-decoration: underline;
}

#valine_container .vcards .vcontent p {
    color: var(--color-p);
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 25px;
}

#valine_container .vcards .vcontent .vemoji {
    max-height: 24px;
    border-radius: 0;
    margin-top: -10px;
    max-width: 100px;
}

#valine_container .vempty {
    color: var(--color-meta);
}

#valine_container .vpower,
#valine_container .vpower a {
    font-size: 0.78125rem;
}

#valine_container .vpower a {
    color: var(--color-p);
}

#valine_container .vpower a:hover {
    text-decoration: underline;
    color: #ff5722;
}

#valine_container .vinput {
    border: none;
    resize: none;
    outline: none;
    padding: 10px 5px;
    max-width: 100%;
    font-size: .775em;
    width: 33%;
    border-bottom: 1px dashed #dedede;
    border-radius: 0;

}

#valine_container p {
    color: var(--color-text);}

.vheader > .vinput{
    background: rgb(240, 240, 240);
}
.vmeta > .vtime{
    color: rgb(146, 146, 146);
}